<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Catalogo Musical</title>
    <th:block th:include="fragments/geral.html :: headerfiles">
    </th:block>
</head>
<body>
<div th:replace="fragments/menu :: menu"></div>

<section>
    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="categoria : ${categorias}">
                <th scope="row" th:text="${categoria.id}"></th>
                <td th:text="${categoria.nome}"></td>
            </tr>
            </tbody>
        </table>

        <nav aria-label="Categoria navigation" th:if="${categorias.totalPages > 0}">
            <ul class="pagination">
                <li th:each="pageNumber : ${pageNumbers}"
                    th:classappend="${(pageNumber==categorias.number + 1 ? 'active page-item': 'page-item')}">
                    <a class="page-link" th:href="@{/categorias(size=${categorias.size}, page=${pageNumber})}"
                       th:text=${pageNumber}></a>
                </li>
            </ul>
        </nav>
    </div>
</section>

</body>
</html>