<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset='utf-8'>    
    <title>Catalogo Musical</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">      
    
</head>
<body>
   <header>
       <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1" style="font-weight: bold;">
        <a href="/musicas"> Catalogo de Músicas </a></span>
    </nav>
   </header> 

   <section>
        <div class="container" style="width: 60%; padding-bottom: 30px;">
            <div class="card" style="margin-top: 20px;" th:each="musica : ${musicas}">
                <div class="card-body">                
                <p class="card-subtitle mb-2 text-muted">
                    <span th:text="${musica.autor}"></span>
                    <span th:text="${musica.data}"></span>
                </p>
                <a href="#"> <h4 class="card-title" style="font-weight: bold; color: black; padding-top: 5px;">
                <span th:text="${musica.titulo}"> </span></h4> </a>
                <p class="card-text"> <span th:utext="${#strings.abbreviate(musica.letra, 200)} "></span></p>
                  
                </div>
            </div>
        </div>            
   </section>

</body>
</html>